.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-button.svg);
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: auto;
  position: absolute;
  top: -365px;
  right: -460px;
  left: 0;
  bottom: 0;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__close-button {
    top: -365px;
    right: -250px;
  }
}