.profile__info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__info {
    margin-top: 22px;
    grid-template-columns: 1fr min-content;
    column-gap: 10px;
    row-gap: 14px;
  }
}